header {
    background-image: url("img/pattern.png");
    background-repeat: repeat;
    background-color: rgb(0, 225, 255);
    }


.theboo {
    color: rgb(0, 174, 255);
}

.photo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
   
}

/* table */
#custom {
    width: 100%;
    align-content: baseline;
}

.tab1 {
    background-color: rgb(0, 158, 158);
}

.tab2 {
    background-color: aquamarine;
}

.tab3 {
    height: 50px;
}

/* line yellow */
.riga {
    background-color: yellow;
}

.para {
    color:rgba(43, 43, 43, 0.5);
}